<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--vue引入 TODO: 生产环境改为min-->
    <div th:fragment="common-resources-vue">
        <script src="/vue/2.6.10/vue.js" th:src="@{/vue/2.6.10/vue.js}"></script>
    </div>

    <!--element-ui 引入-->
    <div th:fragment="common-resources-element-js">
        <!--<script src="/element-ui/2.9.2/index.js" th:src="@{/element-ui/2.9.2/index.js}"></script>-->
        <script src="/element-ui/2.11.1/index.js" th:src="@{/element-ui/2.11.1/index.js}"></script>
    </div>
    <div th:fragment="common-resources-element-css">
        <!--<link rel="stylesheet" href="/element-ui/2.9.2/index.css" th:href="@{/element-ui/2.9.2/index.css}"/>-->
        <link rel="stylesheet" href="/element-ui/2.11.1/index.css" th:href="@{/element-ui/2.11.1/index.css}"/>
    </div>
    <!--bootstrap-->
    <div th:fragment="common-resources-bootstrap-css">
        <link rel="stylesheet" href="/bootstrap/4.0.0/css/bootstrap.min.css" th:href="@{/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    </div>
    <!--requireJS TODO: 生产环境改为min-->
    <div th:fragment="common-resources-requireJS">
        <script th:src="@{/requireJS/2.3.6/require.js}"></script>
    </div>
    <!--获取项目跟路径-->
    <div th:fragment="common-resources-contextPath">
        <script type="text/javascript" th:inline="javascript">
          /*<![CDATA[*/
          var contextPath = /*[[@{/}]]*/ ''
          /*]]>*/
        </script>
    </div>

    <!--图标样式-->
    <div  th:fragment="common-resources-font-awesome">
        <link rel="stylesheet" th:href="@{/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/plugins/icon/icon.css}"/>
    </div>

</body>
</html>