<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>登录系统</title>
  <!--引入element ui-->
  <div th:replace="common/common-resources :: common-resources-element-css"></div>
  <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/login/login.css}">

  <script th:inline="javascript">
    var apiURL = [[${apiURL}]]
    // 是否启用接口加密
    var useIde = [[${useIde}]]
    if (!localStorage.getItem('API_URL')) {
      localStorage.setItem('API_URL', apiURL)
    }
    localStorage.setItem("useIde", useIde)
  </script>
  <div th:replace="common/common-resources :: common-resources-contextPath"></div>
</head>
<body>
    <div class="full-height login-outer" id="login-container" v-cloak>
        <div class="login-container">
            <div class="login-main">
                <div class="login-title">
                    <h2>smart-ui</h2>
                    <p>欢迎访问smart</p>
                </div>
                <div class="login-form-container">
                    <username-login/>
                </div>
            </div>
        </div>
    </div>

<!--引入axios-->
<script th:src="@{/axios/0.19.0/axios.min.js}"></script>
<!--引入vue-->
<div th:replace="common/common-resources :: common-resources-vue"></div>
<!--引入element ui-->
<div th:replace="common/common-resources :: common-resources-element-js"></div>
<div th:replace="common/common-resources :: common-resources-requireJS"></div>

<script th:src="@{/js/common.js}"></script>
<!--引入页面js-->
<script type="module" th:src="@{/js/system/login/login.js}"></script>
</body>
</html>