<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>素材管理</title>

  <div th:replace="common/common-resources :: common-resources-element-css"></div>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>

  <div th:replace="common/common-resources :: common-resources-contextPath"></div>

  <!--引入css-->
  <link rel="stylesheet" th:href="@{/css/portal/materialGT.css}"/>
</head>
<body>
<div id="vue-container" class="full-height">
  <vue-main/>
</div>


<!--引入axios-->
<script th:src="@{/axios/0.19.0/axios.min.js}"></script>
<!--引入vue-->
<div th:replace="common/common-resources :: common-resources-vue"></div>
<!--引入element ui-->
<div th:replace="common/common-resources :: common-resources-element-js"></div>
<div th:replace="common/common-resources :: common-resources-requireJS"></div>

<script th:src="@{/js/common.js}"></script>
<!--引入页面JS-->
<script th:src="@{/js/portal/material/materialPage.js}"></script>
</body>
</html>