<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>无权限</title>
  <!--引入element ui-->
  <div th:replace="/common/common-resources :: common-resources-element-css"></div>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>
  <div th:replace="/common/common-resources :: common-resources-contextPath"></div>
  <link rel="stylesheet" th:href="@{/css/error/error.css}"/>
</head>
<body>
  <div id="vue-container" class="full-height">
    <vue-main/>
  </div>
<!--引入vue-->
<div th:replace="/common/common-resources :: common-resources-vue"></div>
<!--引入element ui-->
<div th:replace="/common/common-resources :: common-resources-element-js"></div>
<div th:replace="/common/common-resources :: common-resources-requireJS"></div>

<script th:src="@{/js/common.js}"></script>
<!--引入页面js-->
<script th:src="@{/js/system/error/error403Page.js}"></script>
</body>
</html>