<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>账户信息</title>
  <!--引入element ui-->
  <div th:replace="common/common-resources :: common-resources-element-css"></div>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>

  <div th:replace="common/common-resources :: common-resources-bootstrap-css"></div>

  <link rel="stylesheet" th:href="@{/css/system/auth/accountMessage.css}"/>
  <div th:replace="common/common-resources :: common-resources-contextPath"></div>
  <script type="text/javascript" th:inline="javascript">
    var activeTab = [[${activeTab}]]
  </script>
</head>
<body>
<div id="vue-container" style="background-color: #f1f4f5; min-height: 100%">
  <vue-main/>
</div>

<!--引入axios-->
<script th:src="@{/axios/0.19.0/axios.min.js}"></script>
<!--引入vue-->
<div th:replace="common/common-resources :: common-resources-vue"></div>
<!--引入element ui-->
<div th:replace="common/common-resources :: common-resources-element-js"></div>
<!--模块加载器-->
<script type="module" th:src="@{/js/utils/ModuleLoader.js}"></script>
<script th:src="@{/js/common.js}"></script>


<script type="module" th:src="@{/js/system/auth/AccountMessage.js}"></script>
</body>
</html>