<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--引入element ui-->
    <div th:replace="common/common-resources :: common-resources-element-css"></div>
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}"/>
    <link rel="stylesheet" th:href="@{/font-awesome/4.7.0/css/font-awesome.css}"/>
    <div th:replace="common/common-resources :: common-resources-contextPath"></div>
    <script th:inline="javascript">
      // 主页地址
      var indexPage = [[${indexPage}]]
    </script>
    <script>
        var busVue
    </script>
</head>
<body>

    <div id="home-container" class="full-height">
        <vue-main/>
    </div>
<!--引入axios-->
<script th:src="@{/axios/0.19.0/axios.min.js}"></script>
<!--引入vue-->
<div th:replace="common/common-resources :: common-resources-vue"></div>
<!--引入element ui-->
<div th:replace="common/common-resources :: common-resources-element-js"></div>

<script th:src="@{/js/common.js}"></script>
<!--引入页面js-->
<script type="module" th:src="@{/js/system/home/Home.js}"></script>
</body>
</html>