<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>角色管理</title>
  <!--引入element ui-->
  <div th:replace="common/common-resources :: common-resources-element-css"></div>
  <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
  <link rel="stylesheet" th:href="@{/css/common.css}"/>
  <link rel="stylesheet" th:href="@{/css/plugins/container/container.css}"/>
  <link rel="stylesheet" th:href="@{/css/organ/organ.css}"/>
  <link rel="stylesheet" th:href="@{/css/plugins/role/role.css}"/>
  <div th:replace="common/common-resources :: common-resources-contextPath"></div>
</head>
<body>
  <div id="vue-container" class="full-height">
    <home-main/>
  </div>
</body>
<!--引入axios-->
<script th:src="@{/axios/0.19.0/axios.min.js}"></script>
<!--引入vue-->
<div th:replace="common/common-resources :: common-resources-vue"></div>
<!--引入element ui-->
<div th:replace="common/common-resources :: common-resources-element-js"></div>
<div th:replace="common/common-resources :: common-resources-requireJS"></div>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/system/role/rolePage.js}"></script>
</html>