.main-outer {
    padding: 94px 0 0;
    box-sizing: border-box ;
}

.top-div {
    height: 94px;
    margin: -94px 0 0;
}

.navbar-outer-a {
    height: 60px;
}

.navbar {
    line-height: 50px;
    float: left;
    border-radius: 0 !important;
}

.navbar .hamburger-container {
    line-height: 67px;
    height: 50px;
    float: left;
    padding: 0 10px;
}
.navbar .screenfull {
    position: absolute;
    right: 90px;
    top: 16px;
    color: red;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
    transition: .38s;
    transform-origin: 50% 50%;
}
.hamburger.is-active {
    transform: rotate(0deg);
}

.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
.app-wrapper:after {
    content: "";
    display: table;
    clear: both;
}
.app-wrapper.mobile.openSidebar {
    position: fixed;
    top: 0;
}

/*侧边栏*/
#home-container .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: 180px;
    position: relative;
}
#home-container .sidebar-container {
    transition: width 0.28s;
    width: 180px !important;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
}
#home-container .sidebar-container .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}
#home-container .sidebar-container .el-scrollbar__bar.is-vertical {
    right: 0;
}
#home-container .sidebar-container .scrollbar-wrapper {
    overflow-x: hidden !important;
}
#home-container .sidebar-container .scrollbar-wrapper .el-scrollbar__view {
    height: 100%;
}
#home-container .sidebar-container .is-horizontal {
    display: none;
}
#home-container .sidebar-container a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
#home-container .sidebar-container .svg-icon {
    margin-right: 16px;
}
#home-container .sidebar-container .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
}
#home-container .hideSidebar .sidebar-container {
    width: 36px !important;
}
#home-container .hideSidebar .main-container {
    margin-left: 36px;
}
#home-container .hideSidebar .submenu-title-noDropdown {
    padding-left: 10px !important;
    position: relative;
}
#home-container .hideSidebar .submenu-title-noDropdown .el-tooltip {
    padding: 0 10px !important;
}
#home-container .hideSidebar .el-submenu {
    overflow: hidden;
}
#home-container .hideSidebar .el-submenu > .el-submenu__title {
    padding-left: 10px !important;
}
#home-container .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
    display: none;
}
#home-container .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}
#home-container .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#home-container .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
}
#home-container .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
}
#home-container .mobile .main-container {
    margin-left: 0;
}
#home-container .mobile .sidebar-container {
    transition: transform 0.28s;
    width: 180px !important;
}
#home-container .mobile.hideSidebar .sidebar-container {
    transition-duration: 0.3s;
    transform: translate3d(-180px, 0, 0);
}
#home-container .withoutAnimation .main-container,
#home-container .withoutAnimation .sidebar-container {
    transition: none;
}

.el-menu--vertical > .el-menu .svg-icon {
    margin-right: 16px;
}



/*主体区域*/
.main-container {
   min-height: 100%;
   transition: margin-left .28s;
   margin-left: 180px;
   position: relative;
}

.left-header {
    height: 60px;
    margin: -60px 0 0;
}

.left-outer {
    height: 100%;
    padding: 60px 0 0;
    box-sizing: border-box ;
}

/*打开菜单列表*/
.scroll-container {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.scroll-container .el-scrollbar__bar {
    bottom: 0;
}
.scroll-container .el-scrollbar__wrap {
    height: 49px;
}

.tags-view-container {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #d8dce5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
}
.tags-view-container .tags-view-wrapper .tags-view-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d8dce5;
    color: #495060;
    background: #fff;
    padding: 0 8px;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
}
.tags-view-container .tags-view-wrapper .tags-view-item:first-of-type {
    margin-left: 15px;
}
.tags-view-container .tags-view-wrapper .tags-view-item:last-of-type {
    margin-right: 15px;
}
.tags-view-container .tags-view-wrapper .tags-view-item.active {
    background-color: #42b983;
    color: #fff;
    border-color: #42b983;
}
.tags-view-container .tags-view-wrapper .tags-view-item.active::before {
    content: "";
    background: #fff;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    margin-right: 2px;
}
.tags-view-container .contextmenu {
    margin: 0;
    background: #fff;
    z-index: 100;
    position: absolute;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}
.tags-view-container .contextmenu li {
    margin: 0;
    padding: 7px 16px;
    cursor: pointer;
}
.tags-view-container .contextmenu li:hover {
    background: #eee;
}
.tags-view-wrapper .tags-view-item .el-icon-close {
    width: 16px;
    height: 16px;
    vertical-align: 2px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: 100% 50%;
}
.tags-view-wrapper .tags-view-item .el-icon-close:before {
    transform: scale(0.6);
    display: inline-block;
    vertical-align: -3px;
}
.tags-view-wrapper .tags-view-item .el-icon-close:hover {
    background-color: #b4bccc;
    color: #fff;
}

/*主体样式*/
.app-main {
    overflow: auto;
    margin-top: 3px;
    height: calc(100% - 3px);
}
.page-container .page-frame {
    display: none;
    width: 100%;
    height: calc(100vh - 97px);
    border-width: 0;
}
.page-container .page-frame.active {
    display: block;
}
.animation-fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}